tools/li-RegExpWorkspace-CSharp/Service References/ServiceReference1/WebServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://regexlib.com/webservices.asmx" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://regexlib.com/webservices.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://regexlib.com/webservices.asmx">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="getRegExpDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="regexpId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getRegExpDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getRegExpDetailsResult" type="tns:RegExpDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RegExpDetails">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="user_id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="regexp_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="regular_expression" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="matches" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="not_matches" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="source" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="create_date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="disable" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="rating" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListAllAsXml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maxrows" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListAllAsXmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListAllAsXmlResult" type="tns:ArrayOfExpression" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfExpression">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Expression" nillable="true" type="tns:Expression" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Expression">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseDataObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="AuthorId" type="s1:guid" />
              <s:element minOccurs="0" maxOccurs="1" name="AuthorName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ProviderId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Pattern" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MatchingText" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NonMatchingText" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Enabled" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="Rating" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Source" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseDataObject" abstract="true">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DateCreated" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DateModified" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IsDirty" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="listRegExp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="keyword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="regexp_substring" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="min_rating" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="howmanyrows" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listRegExpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listRegExpResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getRegExpDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:getRegExpDetails" />
  </wsdl:message>
  <wsdl:message name="getRegExpDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:getRegExpDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ListAllAsXmlSoapIn">
    <wsdl:part name="parameters" element="tns:ListAllAsXml" />
  </wsdl:message>
  <wsdl:message name="ListAllAsXmlSoapOut">
    <wsdl:part name="parameters" element="tns:ListAllAsXmlResponse" />
  </wsdl:message>
  <wsdl:message name="listRegExpSoapIn">
    <wsdl:part name="parameters" element="tns:listRegExp" />
  </wsdl:message>
  <wsdl:message name="listRegExpSoapOut">
    <wsdl:part name="parameters" element="tns:listRegExpResponse" />
  </wsdl:message>
  <wsdl:portType name="WebservicesSoap">
    <wsdl:operation name="getRegExpDetails">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns information about a particular regular expression as a RegExpDetails struct object.</wsdl:documentation>
      <wsdl:input message="tns:getRegExpDetailsSoapIn" />
      <wsdl:output message="tns:getRegExpDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListAllAsXml">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns N expressions in order by date added to library, descending.</wsdl:documentation>
      <wsdl:input message="tns:ListAllAsXmlSoapIn" />
      <wsdl:output message="tns:ListAllAsXmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listRegExp">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a dataset holding information about all of the regular expressions that matched the query provided.</wsdl:documentation>
      <wsdl:input message="tns:listRegExpSoapIn" />
      <wsdl:output message="tns:listRegExpSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebservicesSoap" type="tns:WebservicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getRegExpDetails">
      <soap:operation soapAction="http://regexlib.com/webservices.asmx/getRegExpDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAllAsXml">
      <soap:operation soapAction="http://regexlib.com/webservices.asmx/ListAllAsXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listRegExp">
      <soap:operation soapAction="http://regexlib.com/webservices.asmx/listRegExp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebservicesSoap12" type="tns:WebservicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getRegExpDetails">
      <soap12:operation soapAction="http://regexlib.com/webservices.asmx/getRegExpDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAllAsXml">
      <soap12:operation soapAction="http://regexlib.com/webservices.asmx/ListAllAsXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listRegExp">
      <soap12:operation soapAction="http://regexlib.com/webservices.asmx/listRegExp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Webservices">
    <wsdl:port name="WebservicesSoap" binding="tns:WebservicesSoap">
      <soap:address location="http://regexlib.com/WebServices.asmx" />
    </wsdl:port>
    <wsdl:port name="WebservicesSoap12" binding="tns:WebservicesSoap12">
      <soap12:address location="http://regexlib.com/WebServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>